{% extends "layout.html" %}
{% block content %}
      <!-- FORM HERE -->
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Upload your images!</legend>

                <div class="form-group">
                    {{ form.pictures.label()}}
                    {{ form.pictures(class="form-control-file") }}
                    {% if form.pictures.errors %}}
                        {% for error in form.pictures.errors %}
                            <span class="text-danger"> {{ error }} </span> </br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
{% endblock content %}

